

.teamForm {
    color: #fff;
    padding: 3px;
    margin: 2px 5px 0 0;
    border-radius: 15%;
    width: 20px;
    display: inline-block;
    text-align: center;
    
    &--win{
        background-color: green;
    }
    &--lose{
        background-color: red;
    }
    &--draw{
        background-color: gray;
    }
}