
.football_boxscore{
    margin-left: auto;
    width: 100%;
}

.football__table{
    width: 100%;
}

.football__table__header, .football__table__td__div {
    margin: 0 auto;
    text-align: center;

}

.football_title{
    font-size: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

