.card-nextSeason{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.card-gameCard {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__block {
        flex-grow: 3;
        flex-shrink: 0;
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__score {
        font-weight: 700;
        font-size: 3em;
        line-height: .75em; 
        display: block;
    }

    &__teamName {
        font-size: .85em;
        line-height: 1em;
        display: block;
        margin-top: 0.5em;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}