.football{
    width: 100%;
    padding:20px;
    background-color: #749b1e;
    background-image:  url("../../assets/football_bg4.webp");
    background-size: cover;
    background-position-y: center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,.3));

    .card {
        background-color: rgba(255,255,255,0.5);
        backdrop-filter: blur(2px);
        border-radius: 25px;
        border: 3px solid #000;
        overflow: auto;
        min-height: 150px;


        .ui.inverted.dimmer{
            background-color: rgba(255,255,255,0.0);
        }
        
    }

    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 2; 
        
        .ui.inverted.dimmer{
            background-color: rgba(255,255,255,0.0);
        }
    }
}

.bold{
    font-weight: 700;
}
.arrow_container{
    display:block;
    height:125px;

    .arrows{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;

        Button{
            margin: 5px 0;
        }
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .mobileHide{
        display: none;
    }
    
}