.football{
    width: 100%;
    padding:20px;
    background-color:darkgreen;
    background-image:  url("../../assets/football_bg2.webp");
    background-size: cover;
    background-position-y: center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,.3));
}

.card-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bold{
    font-weight: 700;
}